<div class="jumbotron">
  <h1>Map'Ed</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Map'Ed is an application built to document your academic journey
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Map'Ed!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4></h4>
  <p>
  </p>
</div>

<!-- Header -->
    <section id="header">
      <header>
        <div class="container">
          </br>
          <h1 style="text-align:center">Jane Doe</h1>
          </br>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
            <img src="images/profile.png" width='260' height='260' align="middle" alt='profile-item'>
          </div>
          </div>
          </br>
          <div class="row">
          <!--<div class="col-lg-12 col-lg-offset-2">-->
          <p style="text-align: center">Hello there! I&apos;m Jane Doe, a Software Developer from Seattle.</p></br>
          <p style="text-align: center">I'm a graduate student at the University of Washington pursuing Masters of Science in Information Management degree.
          I'm focusing my studies in the field of Data Science and Analytics. I develop interactive data visualizations using analytic tools
          I'm passionate about making things that have a positive impact on people's lives.</b></p>
          <!--</div>-->
          <!--<div class="col-lg-8 col-lg-offset-2 text-center">-->
          <div class="row" style="text-align: center">
            <span class="icon">
              <span class="page-scroll"><a href="#resume"><i class="fa fa-arrow-circle-down fa-3x"></i></a></span>
            </span>
          </div>
          <!--</div>-->
          </div>
        </div>
      </header>
    </section>
